.home-container {
  text-align: center;
  margin-top: 60px
}

.subtitle {
  font-family: 'Euclid Medium';
  font-size: 20px;
  color: #ffffff;
}

.main-title {
  font-family: 'Euclid Bold';
  font-size: 70px;
  color: #09fcc5;
  margin-bottom: 20px;
  position: relative;
  top: -50px;
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  position: relative;
  top: -50px;
}

/* Gallery Images */
.gallery {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.gallery-item {
  text-align: center;
}

.gallery-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-description {
  font-family: 'Euclid Regular';
  font-size: 13px;
  color: white;
  margin-top: 5px;
}

/* Arrow Buttons */
.arrow {
  background-color: #7e8fc3;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  top: -25px;
  margin: 10px;
}

.bottom-subtitle {
  font-family: 'Euclid Light';
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
  position: relative;
  top: -50px;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  padding: 10px 20px;
  background-color: #7e8fc3; /* Button background color */
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.dropbtn:hover {
  background-color: #6a7bb1; /* Darker shade for hover */
}

.dropdown-content {
  font-family: 'Euclid Regular';
  position: absolute;
  background-color: #7e8fc3; /* Dropdown background */
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0; /* Align dropdown with the button */
}

.dropdown-content button {
  background: none;
  color: white;
  border: none;
  padding: 10px 16px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: #0d152d;
}